{:paths ["src"]

 :deps {com.github.oliyh/martian-cljs-http {:mvn/version "0.1.25"}
        com.github.oliyh/martian-httpkit {:mvn/version "0.1.25"}
        com.taoensso/timbre {:mvn/version "6.3.1"}
        dev.weavejester/medley {:mvn/version "1.7.0"}
        metosin/malli {:mvn/version "0.13.0"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        org.clojure/clojure {:mvn/version "1.11.1"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.14.0"}
        ring/ring-core {:mvn/version "1.10.0"}}

 :aliases
 {:repl {:extra-paths ["dev"]
         :extra-deps {org.slf4j/slf4j-nop {:mvn/version "2.0.9"}
                      wing/repl {:mvn/version "0.1.4"}}}

  ;; Aliases below are typically defined in ~/.clojure/deps.edn, but I add it for convenience.

  :antq
  {:replace-paths []
   :replace-deps {com.github.liquidz/antq {:mvn/version "2.7.1133"}
                  org.slf4j/slf4j-nop {:mvn/version "2.0.9"}}
   :main-opts ["-m" "antq.core"]}

  :nrepl
  {:extra-deps {nrepl/nrepl {:mvn/version "1.1.0"}}
   :main-opts ["-m" "nrepl.cmdline" "--interactive"]}

  :portal
  {:extra-deps {djblue/portal {:mvn/version "0.50.0"}}}

  :sc
  {:extra-deps {vvvvalvalval/scope-capture {:mvn/version "0.3.3"}}}}}
